[submodule "deps/nanos-secure-sdk"]
	path = deps/nanos-secure-sdk
	url = https://github.com/LedgerHQ/nanos-secure-sdk.git
[submodule "deps/qrllib"]
	path = deps/qrllib
	url = https://github.com/theQRL/qrllib.git
[submodule "deps/ledger-zxlib"]
	path = deps/ledger-zxlib
	url = https://github.com/ZondaX/ledger-zxlib
